<%- include("partials/header") %>

    <div class="container mt-2">

        <h1>Explore all of the landlords</h1>

        <!-- <div class="body-container"> -->
        <!-- using boostrap classes now -->
        <div class="row">
            <%for (let i=0; i<landlords.length; i++){ %>
                <!-- <div class="card mx-3 my-3"> can compact it to m-3 -->
                <div class="card m-3">
                    <!-- add link to objects value from its ID made by MongoDB -->
                    <a href="/landlords/<%=landlords[i]._id%>">
                        <img class="card-img card-img-top" src="<%=landlords[i].img%>"
                            alt="<%=landlords[i].img_descripion%>">
                    </a>
                    <div class="card-text mb-3 mx-3">
                        <h2 class="card-name mt-3">
                            <%=landlords[i].name%>
                        </h2>
                        <h2 class="card-business mt-3">(<%=landlords[i].business%>)</h2>
                        <h5 class="card-reviews">Reviews:</h5>


                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone else.</small> -->
                        <% let isEmptyComments=true; let count=0;%>
                            <% comments.forEach((comment=> { %>
                                <% if (landlords[i]._id.equals(comment.landlordId) && count < 3) { %>
                                    <% isEmptyComments=false;%>
                                        <small id="emailHelp" class="form-text text-muted">
                                            <%= `\"${comment.text.slice(0,135)}..." -` %>
                                                <b>
                                                    <%=comment.user.username%>
                                                </b>
                                        </small> %>
                                        <% count++; %>
                                            <%} })) %>
                                                <% if (isEmptyComments) { %>
                                                    <small id="emailHelp" class="form-text text-muted">No
                                                        reviews yet
                                                    </small> %>
                                                    <% } %>
                    </div>
                    <a href=" /landlords/<%=landlords[i]._id%>"><button type="button"
                            class="btn btn-primary btn-lg btn-block addReview">See
                            more</button></a>
                </div>
                <% } %>
        </div>

        <nav aria-label="Page navigation">
            <% if (pages> 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current==1) { %>
                        <li class="page-link disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/landlords/pages/1">First</a></li>
                            <% } %>
                                <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !==1) { %>
                                        <li class="page-link disabled"><a>...</a></li>
                                        <% } %>
                                            <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                                <% if (i==current) { %>
                                                    <li class="page-item active"><a class="page-link">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } else { %>
                                                        <li><a class="page-link" href="/landlords/pages/<%= i %>">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>
                                                            <% if (i==Number(current) + 4 && i < pages) { %>
                                                                <li class="page-link disabled"><a>...</a>
                                                                </li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (current==pages) { %>
                                                                            <li class="page-link disabled">
                                                                                <a>Last</a>
                                                                            </li>
                                                                            <% } else { %>
                                                                                <li><a class="page-link"
                                                                                        href="/landlords/pages/<%= pages %>">Last</a>
                                                                                </li>
                                                                                <% } %>
                </ul>
                <% } %>
        </nav>

    </div>
    <%- include("partials/footer") %>