<%- include("partials/header") %>


    <div class="container mt-2">

        <!-- <div class="body-container"> -->
        <!-- using boostrap classes now -->
        <div class="row">
            <%for (let i=0; i<landlords.length; i++){ %>
                <!-- <div class="card mx-3 my-3"> can compact it to m-3 -->
                <div class="card m-3">
                    <!-- add link to objects value from its ID made by MongoDB -->
                    <a href="/landlords/<%=landlords[i]._id%>">
                        <img class="card-img card-img-top" src="<%=landlords[i].img%>"
                            alt="<%=landlords[i].img_descripion%>">
                    </a>
                    <div class="card-text mb-3 mx-3">
                        <h2 class="card-name mt-3">
                            <%=landlords[i].name%>
                        </h2>
                        <h2 class="card-name mt-3">(<%=landlords[i].business%>)</h2>
                        <h4 class="card-reviews">Reviews:</h4>


                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone else.</small> -->
                        <% let isEmptyComments=true;%>
                            <% comments.forEach((comment=> { %>
                                <% if (landlords[i]._id.equals(comment.landlordId)) { %>
                                    <% isEmptyComments=false;%>
                                        <small id="emailHelp" class="form-text text-muted">
                                            <%= `\"${comment.text}" - ${comment.user.username}` %>
                                        </small> %>
                                        <%} })) %>
                                            <% if (isEmptyComments) { %>
                                                <small id="emailHelp" class="form-text text-muted">No reviews yet
                                                </small> %>
                                                <% } %>


                    </div>
                    <a href=" /landlords/<%=landlords[i]._id%>"><button type="button"
                            class="btn btn-primary btn-lg btn-block">See
                            more</button></a>
                    <!-- removed addReview class -->

                </div>
                <% } %>
        </div>

    </div>
    <%- include("partials/footer") %>